# AI Models
*.h5
*.hdf5
*.keras
*.pt
*.pth

# Training Outputs
emotion-service/logs/
emotion-service/checkpoints/
emotion-service/runs/

# Large Datasets
emotion-service/dataset/daisee_frames/
emotion-service/dataset/daisee_faces/
emotion-service/dataset/final_dataset/

# Optional raw datasets
emotion-service/dataset/raw/

# Root virtual env
.venv/

# Any virtual env
**/.venv/

# Python cache
.pycache/
**/__pycache__/

# Node modules
node_modules/
**/node_modules/

# Environment files
.env
**/.env